.home-catalog-preview {
  & > header {
    text-align: center;

    p {
      margin-bottom: 0;
    }
  }

  & > footer {
    text-align: center;

    .catalog-preview-cta {
      font-size: 18px;
      font-weight: 300;
      line-height: 23px;
      display: inline-flex;
      align-items: center;
      gap: 16px;

      &::before,
      &::after {
        content: '';
        width: 25px;
        height: 1px;
        display: inline-block;
        background-color: $brand-primary;
        transition: width 0.2s ease-in;
      }

      &:hover {
        &::before,
        &::after {
          width: 100px;
        }
      }
    }
  }
}
