.home-newsletter {
  background-color: $gray-secondary;
  color: $white;
  font-size: 19px;
  text-transform: uppercase;

  & > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
    padding: {
      top: 32px;
      bottom: 32px;
    }

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: space-between;
      padding: {
        left: 60px;
        right: 60px;
      }
      height: 236px;
    }

    label {
      text-align: center;
      line-height: 36px;

      span {
        font-size: 55px;
        font-weight: 700;
        display: block;
      }
    }

    input {
      &[type='email'] {
        width: 100%;
        background-color: transparent;
        border: none;
        color: $white;
        padding: 8px;
        text-align: center;
        border-bottom: 1px solid $white;

        @include media-breakpoint-up(lg) {
          width: 32.60188%;
        }
      }
    }

    button {
      &[type='submit'] {
        border: 0;
        background-color: none;
        text-transform: uppercase;
        color: $white;
        font-size: 16px;
        display: inline-block;
        padding-right: 145px;
        min-height: 60px;
        background: transparent url('/images/icons/mail-send.png') no-repeat
          right center;
      }
    }
  }
}
