@import './home-payment';
@import './home-newsletter';
@import './home-catalog-preview';
@import './banner-main';

.content-main {
  margin-top: 63px;

  @include media-breakpoint-up(lg) {
    margin-top: 100px;
  }

  & > section {
    margin-bottom: 70px;

    @include media-breakpoint-up(lg) {
      margin-bottom: 100px;
    }
  }

  .section-title {
    color: $brand-primary;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;

    @include media-breakpoint-up(lg) {
      font-weight: 300;
      font-size: 30px;
      line-height: 37px;
      color: $black;

      span {
        font-weight: 500;
      }
    }
  }

  .product-tiles {
    margin-bottom: 50px;
  }

  .demo-flex {
    .product-tiles {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
      row-gap: 70px;

      @include media-breakpoint-up(lg) {
        flex-direction: row;
        column-gap: 8.828125%;
      }
    }
  }

  // studiu
  .demo-grid {
    .product-tiles {
      display: grid;
      row-gap: 70px;

      @include media-breakpoint-up(lg) {
        grid-template-columns: 27.34375% 1fr 27.34375% 1fr 7.34375%;

        .product-tile:nth-of-type(2) {
          grid-column: 3 / span 1;
        }

        .product-tile:nth-of-type(3) {
          grid-column: 5 / span 1;
        }
      }
    }
  }
}
